.movies-div {
    width: 200px;
    height: 250px;
}


button.btn {
    margin: 5px;
    border-radius: 5%;
    /* background-color: tan; */
}

h1.text-animation {
    transition: 9s;
    color: #01579b;
    font-family: 'Bree Serif', serif;
    text-align: center;
}

h1.text-animation:hover {
    transform: rotateY(360deg);
}
body {
    background-color: #eeeeee;
}
div.container-fluid {
    margin: 0 auto;
}

.rating-button {
    position: absolute;
    margin: 10px;
}
p,label {
    color: black;
}